/*------------------------------------------------------------------------------
  Notable Alumni Accordions
------------------------------------------------------------------------------*/
.pane-notable-alumni-notable-alumni-panel {
  max-width: $main-content-width;
  margin: 0 auto;
}
.notable-alumni {
  .view-content {
    @include flexbox();
    @include flex-flow(row wrap);
    margin-bottom: $standard-padding;
  }
  .alumnus {
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .ui-accordion .views-row-odd {
    @include flex(1);
    max-width: 50%;
    min-width: 50%;
    padding-right: 10px;
  }
  .ui-accordion .views-row-even {
    @include flex(1);
    max-width: 50%;
    min-width: 50%;
    padding-left: 10px;
  }
  .alumnus .views-accordion-header {
    background: $green80 !important;
    border-radius: 0;
    height: 50px;
    margin: 0;
  }
  .alumnus .ui-accordion-content {
    background-image: url('../images/checker.png') !important;
  }
  .alumnus .views-accordion-header h3 {
    color: white;
    text-transform: uppercase;
    margin: 0;
    line-height: 50px;
  }
}
