/* Imports */
@import url('https://fonts.googleapis.com/css?family=Lora:700i|Open+Sans+Condensed:700|Open+Sans:400,700,800');

/* VARIABLES */
/* Typography */
$main-sans-font: 'Open Sans', Verdana, sans-serif;
$main-sans-condensed: 'Open Sans Condensed', Verdana, sans-serif;
$main-serif-font: 'Lora', 'Times New Roman', serif;

/* Other Variables */
$main-content-width: 1200px;
$standard-padding: 30px;
$main-transition: .2s ease;
$checkered-background: url('../images/checker.png');
$splash-image: url('../images/splash.jpg');

/* Brand Colors */
$blue: #003f87;
$lightblue: #0083d6;
$red: #d65759;
$lime: #bad80a;
$green: #006b3f;
$green80: #338965;
$yellow: #ffc61e;
$lightestgray: #e9e9e9;


/* MIXINS */
/* Transformations */
@mixin transform($values) {
  -ms-transform: $values;
  transform: $values;
}

/* Flexbox */
@mixin flexbox() {
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-flow($values) {
  -webkit-box-flex-flow: $values;
  -moz-box-flex-flow:  $values;
  -ms-flex-flow:  $values;
  flex-flow:  $values;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -ms-flex:  $values;
  flex:  $values;
}
