/*------------------------------------------------------------------------------
  Basic interior page styling
------------------------------------------------------------------------------*/
.page-node {
    main {
    max-width: $main-content-width;
    float: none;
    margin: 30px auto;
  }
    p {
    padding: 0 $standard-padding;
  }
}
