/*------------------------------------------------------------------------------
  Designer Tips
------------------------------------------------------------------------------*/
.designer-tip {
  text-align: center;
}
.designer-tip div div div{
  max-width: $main-content-width;
  margin: 0 auto;
}
.tip-title {
  background: white;
  border-bottom: 7px solid $lightestgray;
  padding: 10px 0px 20px;
  font-size: 1em;
  text-transform: uppercase;
  max-width: 160px;
  margin: 0 auto;
  box-sizing: border-box;
  @include transform(translatey(-25%));
}
.tip {
  font-family: $main-serif-font;
  font-size: 2em;
  padding: $standard-padding;
  line-height: 1.5em;
}
.tip-source {
  font-weight: 400;
  text-transform: uppercase;
  color: #909090;
}
