.footer-wrapper {
  font-weight: 300;
  ul {
    padding: 0;
  }
  a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: $main-transition;
  }
  a:hover {
    color: $green80;
  }
  ul li.leaf {
    list-style: none;
  }
}
footer h2.block-title {
  text-transform: uppercase;
}
.footer-left, .footer-center {
  padding-top: $standard-padding;
}
.footer-center {
  .button-link {
    border: solid 3px white;
    padding: 5px $standard-padding;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $main-sans-font;
    margin-bottom: 15px;
    transition: $main-transition;
  }
  .button-link:hover {
    color: $blue;
    background: white;
  }
}
.region-footer-right {
  font-weight: 300;
  font-family: $main-sans-font;
  text-transform: uppercase;
  padding: $standard-padding $standard-padding/2;
  p {
    margin: 0.2em 0;
  }
}
