/*------------------------------------------------------------------------------
  Custom Style Defaults
------------------------------------------------------------------------------*/
body {
  background-color: white;
  font-family: $main-sans-font;
}
main {
  padding: 0;
  background: white;
}
header[role="banner"] > div {
  border: 0;
  max-height: none;
}
header.page-title {
  display: none;
}
.page {
  max-width: none;
}
h1, h2, h3, h4, dl dt, h5, h6 {
  font-family: $main-sans-condensed;
  color: black;
}
.red h2, .red a {
  color: $red;
}
.green h2, .green a {
  color: $green80;
}
.center {
  text-align: center;
}
.red .pane-title, .green .pane-title {
  font-family: $main-sans-condensed;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.2em;
  font-weight: 700;
  width: 125px;
  @include transform(translatey(-25%));
  background-color: white;
  text-align: center;
}
.panel-pane {
  padding-bottom: $standard-padding;
}
.intro-text {
  margin: 0 auto;
  max-width: $main-content-width;
}
.site-header img {
  display: none;
}
.site-header {
  width: 100vw;
  height: 571px;
  background-image: $splash-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.checkered, .wwu-50-50-wrapper, .checkered .pane-title {
  background-image: $checkered-background;
}
.view-content p {
  padding: 0 30px;
}

/* Columns */
.wwu-100-percent-column h2 {
  font-family: $main-serif-font;
}
.wwu-100-percent-column  {
  .red, .green {
    width: 100%;
    box-sizing: border-box;
  }
}
.wwu-50-50-wrapper {
  margin: 0;
}
.wwu-50-50-wrapper .wwu-50-percent-left-column {
  padding-left: 75px;
  width: 30%;
}
.wwu-50-50-wrapper .wwu-50-percent-right-column {
  padding-right: 75px;
  width: 70%;
  margin-left: 30%;
}

/* Button Links (with black outlines) */
.button-links ul {
  padding-left: $standard-padding;
  padding-right: $standard-padding;
  list-style: none;
}
.button-links ul a {
  border: solid 3px black;
  padding: 5px $standard-padding;
  display: inline-block;
  color: black !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $main-sans-font;
  margin-bottom: 15px;
  transition: $main-transition;
}
.button-links ul a:hover {
  background-color: $lightestgray;
}

/*------------------------------------------------------------------------------
  Accordions - General styling
------------------------------------------------------------------------------*/
.view .ui-accordion .ui-widget-content, .content-accordion .ui-widget-content {
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.view .ui-accordion .ui-accordion-header {
  border-radius: 0;
  height: 50px;
  margin-top: 0;
}
.view .ui-accordion .ui-accordion-header h3 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  line-height: 50px;
}
.view .ui-accordion-content p {
  padding: 0 $standard-padding;
}
.view .ui-accordion-content p:first-of-type {
  margin-top: $standard-padding;
}
.green .view .ui-accordion .ui-accordion-header {
  background: $green80;
}
.red .view .ui-accordion .ui-accordion-header {
  background: $red;
}
