/*------------------------------------------------------------------------------
  Fancy Logo
------------------------------------------------------------------------------*/
@media screen and (min-width: 800px) {
  .site-name span {
    display: none;
  }
  .site-header .site-name {
    background: none;
    border: 10px solid $red;
    left: 50%;
    @include transform(translatex(-50%));
    bottom: 20%;
    max-width: none;
    width: 350px;
    box-sizing: border-box;
    height: 300px;
    transition: $main-transition;
  }
  .site-name::before, .site-name::after {
    color: black;
    font-weight: 800;
    font-size: 1.2em;
    position: absolute;
    width: 250px;
    letter-spacing: 3px;
    transition: $main-transition;
  }
  .site-name:hover.site-name::before, .site-name:hover.site-name::after {
    opacity: 1;
  }
  .site-name::before {
    content: 'Making Connections';
    text-align: left;
    left: -20px;
    opacity: 0;
  }
  .site-name::after {
    content: 'Pushing Boundaries';
    text-align: right;
    bottom: 20px;
    right: -30px;
    opacity: 0;
  }
  .site-name:hover {
    width: 70%;
    height: 350px;
  }
}
