/* Customized Menu for Desktop View */
@media screen and (min-width: 800px) {
  /* cancel some default styles */
  .main-nav div div .menu {
      padding: 20px;
      box-sizing: border-box;
  }
  .main-nav .menu li:hover {
    background: none;
  }
  .main-nav div div .menu li {
    padding: 0;
    display: initial;
  }

  /* menu bar */
  .main-nav {
    background-color: white;
    max-width: $main-content-width;
    margin-left: 50%;
    @include transform(translate(-50%, -50%));
    height: 80px;
    padding: 0;
   .menu li {
    background-color: white;
     a {
      color: black;
      }
     a:hover {
      color: black;
      }
    }

  /* home menu button gets fancy treatment */
  .is-leaf.first.leaf a {
    font-size: 0;
    border: 6px solid $red;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    transition: $main-transition;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 60px;
  }
  .is-leaf.first.leaf:hover a {
    width: 55px;
    height: 55px;
    border: 6px solid $red;
    @include transform(translate(-3px, -3px));
  }
  .is-leaf.first.leaf::after {
    content: 'WWU';
    font-weight: 800;
    font-size: 1.2em;
    color: black;
    position: absolute;
    top: 25px;
    left: 20px;
  }
  .is-leaf.first.leaf::before {
    content: 'DESIGN';
    font-weight: 800;
    font-size: 1.2em;
    color: black;
    position: absolute;
    top: 46px;
    left: 67px;

  }

  /* other menu buttons */
  .is-leaf.leaf a {
    padding: 10px;
    border: 4px solid transparent;
    width: 100px;
    float: right;
    margin: 0;
  }
  .is-leaf.leaf a:hover {
    border: 4px solid black;
  }
  .menu__link.is-active-trail.active {
    color: $red;
  }

  }
}
