/*------------------------------------------------------------------------------
  Paragraph Module Syling
------------------------------------------------------------------------------*/
.paragraphs-items {
  column-count: 2;
  column-gap: $standard-padding / 2;
}
.field-paragraphs {
  background: white;
  box-sizing: border-box;
  page-break-inside: avoid;
  margin-bottom: $standard-padding / 2;
}
/* text posts */
.paragraphs-item-short-post {
  padding: 1px $standard-padding 10px $standard-padding;
  transition: $main-transition;
}
.paragraphs-item-short-post:hover {
  border-top: 7px solid $red;
}
.paragraphs-item-short-post h3 {
  color: black;
  text-transform: uppercase;
  font-family: $main-sans-font;
  font-weight: 800;
  font-size: 1.3em;
}
.paragraphs-item-short-post h4 {
  color: $red;
  text-transform: uppercase;
  font-family: $main-sans-font;
  font-weight: 700;
  font-size: .9em;
  margin-bottom: 1.55em;
}
/* calls to action */
.paragraphs-item-call-to-action {
  background: $red;
  color: white;
  text-transform: uppercase;
  font-family: $main-sans-condensed;
  font-weight: 800;
  font-size: 2.3em;
  line-height: 1em;
  padding: $standard-padding;
  transition: $main-transition;
}
.paragraphs-item-call-to-action:hover {
  background: #cc2d30;
}
.paragraphs-item-call-to-action a {
  color: white;
}
.paragraphs-item-call-to-action a:hover {
  text-decoration: none;
}
/* featured images */
.paragraphs-item-featured-image {
  position: relative;
}
.paragraphs-item-featured-image:hover {
  transition: $main-transition;
  border-top: 7px solid $red;
}
.paragraphs-item-featured-image:hover .field-caption {
  opacity: 1;
}
.field-caption {
  position: absolute;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  padding: $standard-padding;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0,0,0,.8), transparent 70%);
  opacity: 0;
  transition: $main-transition;
}
