.program-view-container, .pane-programs-courses-pane {
  max-width: $main-content-width;
  margin: 0 auto;
}

.program-paragraph-container {
  column-count: 2;
  column-gap: 14px;
}

.program-paragraph {
  background: white;
  box-sizing: border-box;
  page-break-inside: avoid;
  margin-bottom: 14px;
  padding: 1px $standard-padding $standard-padding $standard-padding;
  transition: $main-transition;
}

.program-paragraph:hover {
  border-top: 7px solid $red;
}

.program-paragraph h3 {
  color: black;
  text-transform: uppercase;
  font-family: $main-sans-font;
  font-weight: 800;
  font-size: 1.3em;
}

/* The facilities 'tab' header, which need to be restyled cause... views */
.views-row-first .facilities-heading {
  background-image: url('../images/checker.png');
  font-family: $main-sans-condensed;
  color: $red;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.2em;
  font-weight: 700;
  width: 125px;
  @include transform(translatey(-25%));
  background-color: white;
  text-align: center;
}
