/*------------------------------------------------------------------------------
  Student & Faculty Profiles
------------------------------------------------------------------------------*/
.student-project-collection {
  margin: 0 auto;
  padding: $standard-padding 0;
  box-sizing: border-box;
  max-width: $main-content-width;
}
.student-project {
  background: white;
  @include flexbox();
}

/* Project Buttons */
.student-links-wrapper a:hover {
    border-top: 6px solid $red;
    opacity: 1;
}
.faculty-links-wrapper a:hover {
  border-top: 6px solid $green80;
  opacity: 1;
}
.student-links-wrapper, .faculty-links-wrapper {
  .views-view-grid{
    margin-top: $standard-padding;
    width: 100%;
  }
  td {
    vertical-align: top;
    position: relative;
    padding-bottom: 5px;
  }
  tr {
    background: none !important;
  }
  tr, td {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  a {
    display: block;
    background: linear-gradient(black, transparent 50%);
    color: white;
    text-align: center;
    text-decoration: none;
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    transition: $main-transition;
    padding-top: 15px;
    box-sizing: border-box;
    opacity: 0;
  }
  img {
    width: 100%;
  }
  .row-1 td {
    padding-top: 0;
  }
  .col-1 {
    padding-left: 0;
  }
  .col-4 {
    padding-right: 0;
  }
  .col-1 a, .col-4 a {
    width: calc(100% - 10px);
  }
}

/*------------------------------------------------------------------------------
  Student & Faculty Slideshows/Project Collections
------------------------------------------------------------------------------*/
/* Slideshow Styling */
.project-slideshow {
  @include flex(1);
  align-self: center;
  padding-bottom: 50px;
}
.flexslider {
  border: none;
  border-radius: none;
  box-shadow: none;
  margin: 0;
}
.flex-control-paging {
  z-index: 99;
}

/* Info Box Styling */
.project-info-wrapper {
  padding: $standard-padding;
  @include flex(1);
}
.student-name h2, .faculty-name h2 {
  font-family: 'Open Sans';
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
  color: black;
}
.student-name h2:after, .faculty-name h2:after {
  content: ',';
}
.student-degree-type, .student-grad-year, .faculty-professional-title {
  font-weight: 700;
}
.project-category:before, .faculty-office:before {
  content: '\A';
  white-space: pre;
}
.project-category, .faculty-office {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;

}
.project-category {color: $red;}
.faculty-office {color: $green80;}
.project-category:after, .faculty-office:after {
  content: ' / ';
}
.project-title, .faculty-phone {
  font-style: italic;
  display: inline-block;
}
.project-title {color: $red}
.faculty-phone {color: $green80;}
.faculty-email {font-style: italic;}
.project-description:before {
  content: 'abcdefg';
  color: transparent;
  border-top: 3px solid #e9e9e9;
}
.project-description {
  margin-top: 1.5em;
}
.view-student-portfolio .item-list, .view-faculty-profile .item-list {
  background: white;
  position: relative;
  height: 3em;
  @include transform(translatey(-100%));
  margin-bottom: -50px;
}

/* Pager Styling */
.pager {
  line-height: 3em;
  margin: 0 !important;
  width: 50%;
  position: absolute;
  right: 0;
}
.pager a {
  font-family: 'Open Sans Condensed';
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
}
.view-student-portfolio .pager a {color: $red;}
.view-faculty-profile .pager a {color: $green80;}
.pager-previous {
  position: absolute;
  left: $standard-padding;
}
.pager-next {
  position: absolute;
  right: $standard-padding;
}
