/* medium screen sizes */
@media screen and (max-width: 1350px) {
  .wwu-100-percent-column  {
    .red, .green {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
  .page-node main {
    padding: 0 $standard-padding;
  }
}

/* smaller screen sizes */
@media screen and (max-width: 800px) {
  .site-header {
    height: 50vh;
  }
  .site-name {
    background: rgba(255, 255, 255, .8);
    border-bottom: 8px solid $red;
    min-height: 38px;
  }
  .site-name p {
    color: black;
  }
  .view-content {
    padding: 0 $standard-padding/2 $standard-padding $standard-padding/2;
  }

  /* Rearrange front page columns and make full width */
  .wwu-50-50-wrapper {
    display: flex;
    flex-flow: column-reverse;

    .wwu-50-percent-left-column {
      padding: 0 $standard-padding;
      width: 100%;
    }
    .wwu-50-percent-right-column {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  /* Make front page 'paragraphs' single column */
  .paragraphs-items, .program-paragraph-container {
    column-count: 1;
    padding: $standard-padding / 2;
  }

  /* Designer Tip Font */
  .tip {
    font-size: 1.75em;
  }

  /* Interior Pages */
  .wwu-100-percent-column .red, .wwu-100-percent-column .green {
    padding: 0;
  }

  .student-project {
    display: inherit;
  }
  .pager {
    width: 100%;
  }

  .notable-alumni .ui-accordion .views-row-odd,
  .notable-alumni .ui-accordion .views-row-even  {
    @include flex(0);
    max-width: 100%;
    min-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .facilities-heading {
    margin-top: 45px !important;
  }

  /* Footer */
  .footer-left, .footer-center {
    padding-left: $standard-padding;
    padding-right: $standard-padding;
    box-sizing: border-box;
  }
}
