/* Twitter Panel Styles */
.view-tweets ul {
  padding: 0;
  list-style: none;

  li:before {
    content: '@';
  }

  .views-field-screen-name {
    font-weight: 700;
  }
  .views-field-created-time {
    float: right;
    color: #338965;
    font-style: normal;
  }
  .views-field-text {
    margin: 20px -20px 20px -20px;
    font-style: italic;
    font-size: .9em;
  }
  .views-field-text a {
    color: black;
  }
}
.view-tweets .view-footer {
  text-align: center;
}
.view-tweets .view-footer img {
  margin-top: 70px;
}
